.infobox {
    position: fixed;
    left: 25%;
    top: 60px;
    width: 50%;
    border-radius: 100px;
    martgin-left:100px;
    padding: 1em 2em 1em 2em;
    font-size: 1.2em;
    text-align: center;
}

.infobox:hover {
    background-color: #888888;
}